.top
  = render '/tops/header'

  .main
    .main-list
      .main-list__right
        .main-list__right__photo
          -# 画像貼る予定
          .photos   
            %p カワイイい〜
      .main-list__left
        .main-list__left__photo
          -# 画像貼る予定
          .photos 
            %p キレイ・・・
      .link
        ページ実験場
        = link_to "チャットページ", "photos#index"

  .footer
    .footer-list
      %i.fas.fa-camera.fa-3x.white
    %span.title-c ©️Photo　Ring　Community