-# 左側
.left-bar
  .left-bar__main-img
    .main-img-list
      ここに１枚目画像
  .left-bar__sub-img
    %ul.sub-img__list
      %li.sub-img__list-img
        ここに他の画像
      %li.sub-img__list-img
        ここに他の画像
      %li.sub-img__list-img
        ここに他の画像
      %li.sub-img__list-img
        ここに他の画像
      %li.sub-img__list-img
        ここに他の画像
      