-# 右側
.right-bar-chat
  
  .right-bar-chat__my
    .my-message-img
      %p アイコン
    .my-message
      .my-message__t
        私のコメント

  .right-bar-chat__yur
    .yur-message-img
      %p アイコン
    .yur-message
      .yur-message__t
        あなたのコメント

  .right-bar-chat-bottm
    投稿バー
