.top
  = render '/tops/header'

  .photos-list
    .photos-list__img
      %input{type: "text", placeholder: "画像を選ぶ", class: '#'}
      ここに画像aa
    .photos-list__title
      %input{type: "text", placeholder: "写真のタイトル", class: '#'}
      画像のタイトル  
    .photos-list__categories
      %input{type: "text", placeholder: "カテゴリーを選ぶ", class: '#'}
      画像のカテゴリー
      %input.chat-btn{type: "submit", value:"Photo投稿"}
  
  
  
  .footer
    = render '/tops/footer'
   