.top
  = render '/tops/header'

  .photos-list
    .photos-list__img
      ここに画像
    .photos-list__title
      画像のタイトル
    .photos-list__categories
      画像のカテゴリー
  
  
  
  
  .footer
    = render '/tops/footer'
   