.top
  = render '/tops/header'
  .categories-list
    .categories-list__img
      .categories-list__img__list
      .categories-list__img__list
      .categories-list__img__list
      .categories-list__img__list

  .footer
    = render '/tops/footer'
  