.photos-list{
  width: 100%;
  height: calc(100vh - 110px);
  overflow: scroll;
  &__img{
  }
  .new_photo{
    height: calc(100vh - 110px);
  }
  .form-list{
    width: 50%;
    margin: 0 auto;
    .file_btn{
      margin-top: 50px;
      margin-left: 50px;
    }
    .photos-list__title{
      width: 300px;
      height: 50px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .form-btn{
      width: 150px;
      height: 50px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      background-color: #81d5eb;
      font-size: 15px;
      cursor: pointer;
      color: white;
      border-style: none;
    }
  }
}