.top{
  height: 100vh;
  width: 100%;
}
a{
  text-decoration: none;
  color: black;
}
.header-top{
  background: linear-gradient(#81d5eb,  #deeef1);
  width: 100%;
  text-align: center;
  .header-menu{
    .title{
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: larger;
    }
    
    &__list{
      padding: 10px 0px;
      height: 50px;
      display: flex;
      justify-content: baseline;
      border-top:#cfebf1 solid 1px;
      &__categorie{
        width: calc(100% / 3);
        &:hover{
          .categorie-list{
            visibility: visible;
          }
        }
        .categorie-t{
          font-size: larger;
        }
        .categorie-list{
          width: calc(100% / 3);
          z-index: 2;
          position: absolute;
          top: 107px;
          background: linear-gradient(#81d5eb,  #deeef1); 
          visibility: hidden;
          .parent-list{
            border-top:#cfebf1 solid 1px;
            padding: 5px 0;
            &:hover{
              .categorie-list-children{
                visibility: visible;
              }
            }
          }
          .categorie-list-children{
            width: 200px;
            background: linear-gradient(#81d5eb,  #deeef1);
            position: absolute;
            top: 0;
            left: 100%;
            visibility: hidden;
            &:hover{
              .categorie-list-grand_children{
                visibility: visible;
              }
            }
            .children-list{
              border-top:#cfebf1 solid 1px;
              padding: 5px 0;
            }
          }
          .categorie-list-grand_children{
            width: 200px;
            background: linear-gradient(#81d5eb,  #deeef1);
            position: absolute;
            top: 0;
            left: 100%;
            .grand_children-list{
              border-top:#cfebf1 solid 1px;
              padding: 5px 0;
            }
          }
        }
      }


      &__login{
        width: calc(100% / 3);
        .login-t{
          font-size: larger;
        }
      }
      &__sachi{
        width: calc(100% / 3);
        .sachi-bar{
          width: 100%;
          text-align: center;
          border-radius: 30px;
          outline: 0;
          border: none;
        }
      }
    }
  }
}

.main{
  width: 100%;
  height: 100%;
  background-color:#dfba6a;
  position: relative;
  .main-list{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color:#156927;
  }
}


.footer{
  position: relative;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background: linear-gradient(#deeef1, #81d5eb );
  text-align: center;
  .footer-list{
    padding-top: 10px;
    .white{
      color: white;
    }
  }
  .title-c{
    font-size: 12px;
  }
}