.top{
  height: 100vh;
  width: 100%;
}
a{
  text-decoration: none;
  color: black;
}
.header-top{
  background: linear-gradient(#81d5eb,  #deeef1);
  width: 100%;
  height: 110px;
  text-align: center;
  .header-menu{
    .title{
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: larger;
    }
    &__list{
      padding: 10px 0px;
      height: 50px;
      display: flex;
      justify-content: baseline;
      border-top:#cfebf1 solid 1px;
      &__photo{
        width: calc(100% / 3);
        }
        .photo-t{
          font-size: larger;
        }
      
      &__login{
        width: calc(100% / 3);
        .login-t{
          font-size: larger; 
        }
      }
      &__sachi{
        width: calc(100% / 3);
        .sachi-bar{
          width: 100%;
          text-align: center;
          border-radius: 30px;
          outline: 0;
          border: none;
        }
      }
    }
  }
}

.main{
  width: 100%;
  height: calc(100vh - 210px);
  p{
    color: #81d5eb;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
  }
  .main-list{
    margin: 15px;
    display: flex;
    justify-content: space-around;
    &__right{
      background-color:#ff7f509d;
      height: 400px;
      width: 300px;
      margin-right: 10px;
      &__photo{
        margin: 8px;
        height: 95%;
        width: 95%;
        background-color:white;
      } 
    }
    &__left{
      background-color:#ff7f509d;
      height: 400px;
      width: 300px;      
      &__photo{
        margin: 8px;
        height: 95%;
        width: 95%;
        background-color:white;
      } 
    }
    .photos{
      background-color: yellow;
      margin: 0 auto;
      height: 80%;
      width: 95%;
    }
  }
}

.login-main{
  text-align: center;
}


.footer{
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background: linear-gradient(#deeef1, #81d5eb );
  text-align: center;
  .footer-list{
    padding-top: 10px;
    .white{
      color: white;
    }
  }
  .title-c{
    font-size: 12px;
  }
}